* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  background-color: #efefef;
  overflow: hidden;
}
.main header {
  width: 100%;
  box-shadow: rgba(46, 44, 44, 0.2) 0px 2px 8px 0px;
  flex-wrap: wrap;
  height: 70px;
  /* position: fixed; */
}

.main .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 30px;
  width: 100%;
}
.menu-toggle i {
  margin-left: 95%;
  margin-top: 18px;
}

.navbar .logo h2 {
  font-size: 38px;
  color: #01afff;
  cursor: pointer;
}

.navbar .navlink a {
  text-decoration: none;
  color: #272a2b;
  margin-left: 34px;
  font-size: 21px;
  transition: all 0.4s ease;
}

.navbar .navlink a:hover {
  color: #01afff;
}

.navbar .them-switcher {
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.them-switcher .social-media {
  width: 100%;
  margin-left: 20px;
}

.them-switcher .social-media a {
  font-size: 30px;
  color: #01afff;
}

.navbar .them-switcher img {
  width: 30px;
  cursor: pointer;
}

.home-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.home-page .left-side {
  width: fit-content;
  /* position: relative; */
}

.home-page .left-side h1 {
  font-size: 40px;
  font-size: 40px;

  margin-bottom: 12px;
}

.left-side h1 span {
  color: #01afff;
}

.left-side p {
  font-size: 18px;
  line-height: 32px;
  opacity: 0.7;
  margin: 34px 0 46px 0;
  max-width: 610px;
}

.left-side h3 {
  font-size: 24px;
}
.left-side .button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.left-side #btn {
  padding: 12px 38px;
  background-color: #01afff;
  border-radius: 25px;
  cursor: pointer;
  font-size: 21px;
  color: white;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.301);
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}

.left-side #btn:hover {
  background-color: #104e6b;
}

.home-page .right-side img {
  width: 390px;
  height: auto;
}

.dark-them {
  color: white;
  background-color: #333;
}

.dark-them .navbar {
  box-shadow: 0px 2px #ffcf01;
  box-shadow: #ffcf01 0px 2px 8px 0px;
}

.dark-them .navlink a {
  color: white;
}

.dark-them .navlink a:hover {
  color: #ffcf01;
}

.dark-them .logo h2 {
  color: #ffcf01;
}

.dark-them #btn {
  background-color: #ffcf01;
}

.dark-them #btn:hover {
  background-color: #665610;
}

.dark-them .right-side h1 span {
  color: #ffcf01;
}

.dark-them .them-switcher .icon {
  background-color: #ffcf01;
  color: #ffcf01;
}

.dark-them .them-switcher .social-media a {
  color: #ffcf01;
}

.dark-them .left-side h1 span {
  color: #ffcf01;
}

/* about section */

.about-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.about-left {
  width: auto;
}

.about-left img {
  width: 300px;
  height: fit-content;
}

.about-right {
  width: 57%;
}

.about-right ul li {
  display: flex;
  align-items: center;
}

.about-right h1 {
  color: #01afff;
  font-size: 37px;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: 0px 2px #01afff;
}

.about-right h1 p {
  color: #444;
  line-height: 26px;
  font-size: 15px;
}

.about-right .address {
  margin: 35px 0;
  display: flex;
}

.about-right .address ul li {
  margin-bottom: 15px;
  font-size: 15px;
}

.address ul li .address-logo {
  display: flex;
  margin-right: 15px;
  color: #01afff;
  flex-wrap: wrap;
}

.address ul li .address-logo p {
  margin-left: 10px;
  color: #444;
}

.address-logo .seprater {
  margin: 0 35px;
}

.about-right .expertise ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.expertise h3 {
  margin-bottom: 15px;
  color: #01afff;
  font-size: 30px;
}

.expertise .expertise-logo {
  font-size: 19px;
  margin-right: 5px;
  color: #01afff;
}

.dark-them .about-right h1 {
  color: #ffcf01;
  box-shadow: 0px 2px #ffcf01;
}

.dark-them .address ul li .address-logo {
  color: #ffcf01;
}

.dark-them .address ul li .address-logo p {
  color: white;
}

.dark-them .expertise h3 {
  color: #ffcf01;
}

.dark-them .expertise .expertise-logo {
  color: #ffcf01;
}

#skills-section {
  width: 100%;
  /* height: auto; */
  /* padding: 80px 13%; */
  background-color: rgba(214, 203, 203, 0.08);
}

.header {
  width: 100%;
  margin-bottom: 70px;
  display: grid;
  place-items: center;
  text-align: center;
}

.header h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.header h2 span {
  color: #01afff;
}

.header p {
  font-size: 20px;
}

.skill-main {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  margin: auto;
}

.skill-main .skill-bar .info {
  display: flex;
  justify-content: space-between;
  padding: 0.1px;
  flex-wrap: wrap;
}

.skill-bar .info .percent {
  font-weight: bold;
}

.skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.199);
  margin-top: 10px;
  position: relative;
  border-radius: 5px;
}

.skill-bar .bar span {
  width: 50px;
  height: 100%;
  position: absolute;
  background-color: #01afff;
  border-radius: 25px;
}

.skill-bar .bar .html {
  width: 80%;
  animation: html 3s;
}

@keyframes html {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.skill-bar .bar .css {
  width: 80%;
  animation: css 3s;
}

@keyframes css {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.skill-bar .bar .js {
  width: 70%;
  animation: js 3s;
}

@keyframes js {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

.skill-bar .bar .react {
  width: 70%;
  animation: react 3s;
}

@keyframes react {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

.skill-bar .bar .mysql {
  width: 70%;
  animation: mysql 3s;
}

@keyframes mysql {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

.dark-them .header h2 span {
  color: #ffcf01;
}

.dark-them .skill-bar .bar span {
  background-color: #ffcf01;
}

.projects {
  width: 100%;
  margin-top: 10px;
  height: auto;
}

.primaryHeading {
  width: 100%;

  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0px 2rem;
  color: #01afff;
}

.myproject {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin: 0px 9%; */
}

.projectInfo {
  max-width: 350px;
  background-color: #b1cedb;
  box-shadow: 2px aliceblue;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.projectInfo img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  height: 50%;
}

.projectInfo .content {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.projectInfo h4 {
  color: black;
  font-weight: 700;
  width: 90%;
  padding: 1rem 0px;
  text-align: center;
}

.projectInfo p {
  font-weight: 300;
  font-size: 0.8rem;
  color: black;
  width: 90%;
  text-align: center;
}
.dark-them .projectInfo {
  background-color: #dbcf9b;
}

.dark-them .primaryHeading {
  color: #ffcf01;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.contactContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contactBox {
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b1cedb;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.contactBox a {
  text-decoration: none;
}

.contactBox i {
  font-size: 2.5rem;
  color: #01afff;
}

.contactBox h4 {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(45, 41, 41);
}

.contactBox p {
  font-size: 1rem;
  color: black;
}

.footer {
  width: 100%;
  box-shadow: rgba(46, 44, 44, 0.2) 0px 2px 8px 0px;
  text-align: center;
  position: static;
  bottom: 0px;
  padding: 20px;
  margin-top: 15px;
  font-size: 1rem;
}

.dark-them .contactBox {
  background-color: #dbcf9b;
  opacity: 2;
}

.dark-them .contactBox i {
  color: #ffcf01;
}

.dark-them .contactBox h4 {
  color: black;
}

.dark-them .contactBox p {
  color: black;
}

.dark-them .footer {
  box-shadow: rgba(188, 182, 182, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 1024px) {
  .navlink {
    display: none;
    position: absolute;
    background-color: #8fbcd3;
    width: 100%;
    text-align: center;
    top: 3.7rem;
    left: 0;
    flex-direction: column;
    opacity: 0.7;
    z-index: 1;
  }
  .navbar .navlink a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    margin-left: unset;
    text-transform: uppercase;
    font-size: 21px;
  }
  .navlink span {
    display: block;
  }
  .navbar .navlink a:hover {
    color: red;
  }
  .navlink.responsive {
    display: block;
  }
  .navbar .them-switcher {
    display: none;
  }

  .logo {
    display: none;
  }
  .navbar .responsive {
    display: block;
  }
  .menu-toggle {
    display: block;
  }

  /* home page */
  .home-page {
    width: 90%;
    margin: auto;
  }
  .home-page .left-side {
    margin-top: 20px;
    width: 100%;
  }

  .home-page .right-side img {
    width: 100%;
    margin-top: 10px;
  }
  .about-section {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .about-left img {
    width: 100%;
  }

  .about-right {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .menu-toggle i {
    margin-left: 90%;
  }
  .about-left img {
    width: 100%;
  }
  .about-right {
    width: 100%;
  }

  .address ul li .address-logo {
    margin-right: unset;
  }
  #skills-section {
    width: 90%;
    margin: auto;
  }
  .projects {
    width: 90%;
    margin: auto;
  }
  .myproject {
    margin: unset;
    width: 100%;
  }
  .projectInfo {
    max-width: 450px;
  }
  .contact {
    width: 90%;
    margin: auto;
  }
  .contactBox {
    width: 450px;
    margin-left: unset;
    height: 200px;
  }
  .left-side .button {
    justify-content: center;
  }
  .left-side #btn {
    width: 260px;
    border-radius: 10px;
    text-align: center;
  }
}
